.holder{
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
    justify-content: space-between;
}

.holder div{
    width: 200px;
    height: 200px;
    font-size: 100px;
}

.first{
    background-color: green;
}
.second{
    background-color: red;
}
.third{
    background-color: blue;
}